body
{
	height:  100vh;
	/* the linear gradient is what cause the background colour of the website
	to be multiple colours*/
	background:  repeating-linear-gradient(
		to left,
		#b5d49d 0%,
		#b5d49d 20%,
		#96ad84 0%,
		#96ad84 80%
	);
	font-family: "Papyrus", fantasy;
}

/* the heading selectors allow be to style and format the text however 
I want, for example, color:  white; makes the texts white and text-align: center;
makes the text in the center.*/
h1, h2, h3
{
	/* text-align is foor aligning the text to yoru preferred choice, 
	I chose to center my texts so that it looks neat and because of the 
	background colours*/
	text-align: center;
	color:  white;
}


/* for the table of contents, I use a class selector so that the styling doesn't affect
the other list. */
.contents
{
	color: white;
  	border: 1px solid #aaa;
  	display: table;
 	font-size: 95%;
 	margin-bottom: 1em;
  	padding: 20px;
	width: auto;
 	border-color: white;
 	margin-left: auto;
 	margin-right: auto;
}

ul
{	
	color:  white;
	display: table;
  	font-size: 95%;
  	margin-bottom: 1em;
  	padding: 20px;
  	width: auto;
  	margin-left: auto;
 	 margin-right: auto;
}


#hi
{	
	/* object fit basically resizes the image to fit it's container,
	and the width allows me to place my image in the center on the
	webapge*/
 	object-fit: none;
  	width:  100%;
}

/* this declaration makes the texts or p tag) in the middle of the page.*/
.center
{
	margin-left: auto;
  	margin-right: auto;
  	width:  45em;
}


p
{
	color:  white;
	text-align: center;
}

.cite
{
	text-align: center;
	font-size: 10px;
}

