body
{
	height:  100vh;
	/* the linear gradient is what cause the background colour of the website
	to be multiple colours*/
	background:  repeating-linear-gradient(
		to left,
		#ebb1b2 0%,
		#ebb1b2 20%,
		#B76E79 0%,
		#B76E79 80%
	);
	font-family: "Papyrus", fantasy;
}

h1
{
  text-align: center;
  color: white;
}
h2
{
  text-align: center;
}

/*This declaration is centering the lists (ul tag) in the html.*/
ul
{
	width: 25%;
	margin: auto;
	color:  white;
}

#hey
{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p
{
	text-align: center;
	font-size: 10px;
}



